# Get your OpenAI API Key here: https://platform.openai.com/account/api-keys
OPENAI_API_KEY=your-openai-api-key

# Generate a random secret: https://generate-secret.vercel.app/32 or `openssl rand -base64 32`
AUTH_SECRET=your-auth-secret

# The following keys below are automatically created and
# added to your environment when you deploy on vercel

# Instructions to create a Vercel Blob Store here: https://vercel.com/docs/storage/vercel-blob
BLOB_READ_WRITE_TOKEN=****

# Instructions to create a database here: https://vercel.com/docs/storage/vercel-postgres/quickstart
POSTGRES_URL=your-database-url

# Anthropic
ANTHROPIC_API_KEY=your-anthropic-api-key

# Hyperbolic (for Llama and Qwen)
HYPERBOLIC_API_KEY=your-hyperbolic-api-key

# NEAR Network
NEAR_NETWORK=testnet-or-mainnet

# Tavily API for web search
TAVILY_API_KEY=your-tavily-api-key
